*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
.app-container,
.top-container {
  display: flex;
}

body,
.app-container {
  justify-content: center;
}

body {
  align-items: center;
  min-height: 100vh;
  background: #1F2937;
}


.app-container {
  flex-direction: column;
  width: 550px;
  border: 2px solid #645f5f;
}

.top-container {
  align-items: center;
  justify-content: space-between;
  padding: 1.5625em .75em;
  gap: 12px;
}

.color-picker {
  width: 60px;
  height: 40px;
}

.selector,
.btn {
  color: #FFFFFF;
  cursor: pointer;
}

.selector {
background: #1F293A;
border: 1px solid #D1D5DB;
border-radius: 6px;
flex-grow: 1;
padding: .75em;
}

.btn {
  background: #3D4B60;
  padding: 1em;
  border-radius: 5px;
  border: none; 
}

.scheme-container,
.hex-value--container {
  display: grid;
  grid-template-columns: repeat(5, 110px);
}

.scheme-container {
  height: 414px;
}

.hex-value--container {
  color: #D5D4D8;
  text-align: center;
}

.hex-value {
  font-size: .85rem;
  padding: 15px 0;
}
